<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MERCADO LIEBRE PUERTA 18</title>
    <link rel="stylesheet" href="/">
</head>
<body>
<header>
    <a class = logomp><img src = "images/logo-mercado-liebre.svg"> </a>
    <div>
        Lugar para poner la barra de búsqueda
    </div>
    <p> Comprá en cuotas y sin tarjeta de crédito</p>
    <nav>
        <ul>
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas oficiales</li>
            <li><a href="">Vender</li>
            <li><a href="">Ayuda</li>
        </ul>
        <ul>
            <li><a href="">Creá tu cuenta</li>
            <li><a href="">Ingresá</li>
            <li><a href="">Mis compras</li>
        </ul>
    </nav>
</header>
<main>
    <img width="100%" src = "images/logo-banner.jpg" alt = "">
    <section>
        <h2>
            Basado en tu última visita
        </h2>
        <di>
            <article>
                <img width="30%" src ="/images/logo-cafetera.jpg"
                alt = "imagen de la cafetera"
                width="100%"
                />
                <p>$6.770</p>
                <p>40% OFF</p>
                <p> Cafeteria Moulinex</p>
            </article>
        </di>
    </section>
</main>
<footer>
    <section>
        <article>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p></p>Con Mercado Liebre Cash, tenés cuotas sin interés
                con tarjeta o efectivo en puntos de pago. ¡Y
                siempre es seguro!</p>
        </article>
    </section>
</footer>
</body>
</html>